.grid{
    display: grid;
    grid-template-areas: 
    'one two two three three'
    'one four five five six'
    'seven four five five six'
    'seven eight eight nine six';
    padding: 50px 250px;
    margin: 50px 50px;
    height: 200px;

}
.grid-items{
    border: 2px solid black;
    padding: 20px 10px;
    text-align: center;
}
#gd1{
    background-color: red;
    grid-area: one;
}
#gd2{
    background-color: cyan;
    grid-area: two;
}
#gd3{
    background-color: yellowgreen;
    grid-area: three;
}
#gd4{
    background-color: yellowgreen;
    grid-area: four;
}
#gd5{
    background-color: white;
    grid-area: five;
}
#gd6{
    background-color: red;
    grid-area: six;
}
#gd7{
    background-color: white;
    grid-area: seven;
}
#gd8{
    background-color: red;
    grid-area: eight;
}
#gd9{
    background-color: cyan;
    grid-area: nine;
}
